<p id="notice"><%= notice %></p>

<h1> Listing for <%= @tokimon.name %></h1>

<table id="tokimon-info">
    <tr>
      <th>Name</th>
      <td><%= @tokimon.name %></td>
    </tr>
    <tr>
      <th>Weight</th>
      <td><%= @tokimon.weight %></td>
    </tr>
    <tr>
      <th>Height</th>
      <td><%= @tokimon.height %></td>
    </tr>
    <tr>
      <th>Fly</th>
      <td><%= @tokimon.fly %></td>
    </tr>
    <tr>
      <th>Fight</th>
      <td><%= @tokimon.fight %></td>
    </tr>
    <tr>
      <th>Fire</th>
      <td><%= @tokimon.fire %></td>
    </tr>
    <tr>
      <th>Water</th>
      <td><%= @tokimon.water %></td>
    </tr>
    <tr>
      <th>Electric</th>
      <td><%= @tokimon.electric %></td>
    </tr>
    <tr>
      <th>Ice</th>
      <td><%= @tokimon.ice %></td>
    </tr>
    <tr>
      <th>Trainer</th>
      <td><%= link_to @tokimon.trainer.name, trainer_path(:id=> @tokimon.trainer_id)%></td>
    <tr>
      <th>Total</th>
      <td><%= @tokimon.total %></td>
    </tr>
</table>

<%= button_to 'Edit Tokimon', edit_tokimon_path(@tokimon), :class => "button", :method => :get %>
<%= button_to 'Back to Tokimon Listings', tokimons_path, :class => "button", :method => :get %>
