<p id="notice"><%= notice %></p>

<h1>List of Known Trainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to trainer.name, trainer %></td>
        <td><%= trainer.level %></td>
        <td class="option"><%= link_to 'Edit Trainer', edit_trainer_path(trainer) %></td>
        <td class="option"><%= link_to ' Destroy Trainer', trainer, method: :delete, data: { confirm: 'Deleting this trainer will delete all associated tokimon. Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to 'New Trainer', new_trainer_path, :class => 'button', :method => :get %>
