<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Fly</th>
      <th>Fight</th>
      <th>Fire</th>
      <th>Water</th>
      <th>Electric</th>
      <th>Ice</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @trainer.tokimons.each do |tokimon| %>
      <tr>
        <td><%= link_to tokimon.name, tokimon %></td>
        <td><%= tokimon.weight %></td>
        <td><%= tokimon.height %></td>
        <td><%= tokimon.fly %></td>
        <td><%= tokimon.fight %></td>
        <td><%= tokimon.fire %></td>
        <td><%= tokimon.water %></td>
        <td><%= tokimon.electric %></td>
        <td><%= tokimon.ice %></td>
        <td><%= tokimon.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Edit Trainer', edit_trainer_path(@trainer), :class => 'button', :method => :get %>
<%= button_to 'Return to Trainer List', trainers_path, :class => 'button', :method => :get %>
